

.container-grid {
    display: grid;
    padding: 10px;   
    text-align: right;
    background-color: black;
    color: white;
}
.heroImg {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.content {
    justify-content: center;
}
.footer {
    display: grid;
    text-align: left;
    color: white;
    background-color: black;
    padding: 25px;
}
.ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}